/* .portrait-container {
    background-image: url('../resources/images/portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    width: 550px;
    box-shadow: 50px 50px 50px 50px #1f1f22 inset, -50px 50px 50px 50px #1f1f22 inset, -50px -50px 50px 50px #1f1f22 inset;
    filter: grayscale(95%);
    display: flex;
    margin-top: 5%;
    padding: 1px;
    border-color: #1f1f22;
} */

.photo-container2 img {
    width: 200px;
    
}

.photo-container2 {
    display: flex;
   justify-content: center;
   padding-bottom: 60px;
}


/* @media only screen and (max-width: 1030px) {
    .photo-container2 img {
        height: 441px;
        width: 330px;
    }

  }

@media only screen and (max-width: 550px) {
    .photo-container2 img {
        height: 280px;
        width: 220px;
    }

  } */








