.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    margin-left: 5%;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.intro-line {
    font-size: 3rem;
}

.statement-line-1, .statement-line-2, .statement-line-3 {
    font-size: 1.6rem;
    padding-top: 4%;
}

@media only screen and (max-width: 550px) {
  .about-container {
    margin-right: 5%;
    height: 300px;
  }
  article.statement-line-1, article.statement-line-2, article.statement-line-3 {
    font-size: 1rem;
  }
  article.intro-line {
    font-size: 2rem;
  }

}