body {
  background-color: rgb(20, 20, 20);
}


.app-container {
  
  
  color: #e2e2e2;
  font-family: Lato, Arial, Helvetica, sans-serif;
  
}

header {
  margin: 0% 0% 0% 0%;
  padding-top: 1%;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}


.photo-container {
  margin: auto;
}

.photo-container-hidden {
  display: none;
}

@media only screen and (max-width: 550px) {
  .app-container {
    padding-right: 2%;
  

 
  }
}
