.app-container {
  background-color: #1f1f22;
  height: 100vh;
  color: #e2e2e2;
  font-family: Lato, Arial, Helvetica, sans-serif;
  padding-left: 2%;
}

header {
  margin: 0% 0% 0% 0%;
  padding-top: 1%;
}

.main-content-container {
  display: flex;
  height: 75%;
  
}

.main-content {
  width: 50%;
}

.photo-container {
  margin: auto;
}

@media only screen and (max-width: 550px) {

}
