.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    margin-left: 5%;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
}

.project-1-container, .project-2-container, .project-3-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    
}

.project-content-container {
    display: flex;
    flex-direction: column;
    
}

.sub-content {
    font-size: 1.5rem;
}

article {
    padding-top: .5%;
    letter-spacing: .75px;
}

a {
    text-decoration: none;
    color: #18D7F0;
}

a:hover {
    text-decoration: underline;
}

.project-icon-container img {
    width: 150px;
    height: 100px;
    margin-left: 30%;
    border-radius: 10px;
}

@media only screen and (max-width: 550px) {
    .projects-container {
      margin-right: 5%;
      justify-content: center;
      height: 300px;
    }
    article.sub-content {
      font-size: .8rem;
      text-align: center;
    }
    .project-2-container {
        justify-content: center;
    }
    
    .project-icon-container {
        display: none;
    }
    .project-content-container a {
        font-size: 1.25rem;
        padding-top: 2%;
        padding-bottom: 0%;
    }
    
  }

  @media only screen and (max-height: 700px) {
    article.sub-content {
        font-size: .6rem;
      }
      .project-content-container a {
        font-size: .75rem;
        padding-top: 0;
        padding-bottom: 0%;
    }
  }
